// Component: アレルギー情報ボックス
.p00000-allergy {
  margin-top: 32px;
  font-size: 12px;
  line-height: 1.625;
  color: red;

  @media (width >= 640px) {
    font-size: 14px;
  }
}

.p00000-allergy__heading {
  padding: 4px 24px;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  background-color: red;
  border-radius: 4px 4px 0 0;
}

.p00000-allergy__body {
  padding: 0 12px 12px;
  border-color: red;
  border-style: solid;
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
}

.p00000-allergy__list {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.p00000-allergy__note {
  padding-left: 1em;
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 1.5;
  text-indent: -1em;

  @media (width >= 640px) {
    text-align: center;
  }
}
