.p00000-main {
  position: relative;
  overflow: hidden;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 14px;
  font-feature-settings: 'palt';
  line-height: 1.625;
  color: #424448;
  text-align: justify;
  text-justify: inter-ideograph;
  letter-spacing: 0.1em;
  background-color: #fff;
  border: 1px solid #ccc;

  @media (width >= 640px) {
    font-size: 16px;
  }
}
