.p00000-section {
  p + p {
    margin-top: 16px;
  }

  &.p00000-section--1 {
    background-color: oklch(93.6% 0.032 17.717deg);
  }

  &.p00000-section--2 {
    background-color: oklch(95.4% 0.038 75.164deg);
  }
}
