/* @tailwind base; */

.p15403-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p15403-mb-4 {
  margin-bottom: 1rem;
}

.p15403-ml-\[1em\] {
  margin-left: 1em;
}

.p15403-ml-auto {
  margin-left: auto;
}

.p15403-mr-auto {
  margin-right: auto;
}

.p15403-mt-12 {
  margin-top: 3rem;
}

.p15403-mt-2 {
  margin-top: 0.5rem;
}

.p15403-mt-4 {
  margin-top: 1rem;
}

.p15403-mt-8 {
  margin-top: 2rem;
}

.p15403-block {
  display: block;
}

.p15403-table {
  display: table;
}

.p15403-hidden {
  display: none;
}

.p15403-w-fit {
  width: fit-content;
  width: fit-content;
}

.p15403-max-w-\[240px\] {
  max-width: 240px;
}

.p15403-max-w-\[320px\] {
  max-width: 320px;
}

.p15403-max-w-\[360px\] {
  max-width: 360px;
}

.p15403-max-w-\[420px\] {
  max-width: 420px;
}

.p15403-max-w-\[606px\] {
  max-width: 606px;
}

.p15403-border {
  border-width: 1px;
}

.p15403-border-4 {
  border-width: 4px;
}

.p15403-border-solid {
  border-style: solid;
}

.p15403-border-black {
  --tw-border-opacity: 1;

  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.p15403-border-gray-500 {
  --tw-border-opacity: 1;

  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

.p15403-border-red-500 {
  --tw-border-opacity: 1;

  border-color: rgb(239 68 68 / var(--tw-border-opacity));
}

.p15403-border-white {
  --tw-border-opacity: 1;

  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.p15403-bg-\[\#0f55bd\] {
  --tw-bg-opacity: 1;

  background-color: rgb(15 85 189 / var(--tw-bg-opacity));
}

.p15403-bg-\[\#f2dd6c\] {
  --tw-bg-opacity: 1;

  background-color: rgb(242 221 108 / var(--tw-bg-opacity));
}

.p15403-bg-black {
  --tw-bg-opacity: 1;

  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.p15403-bg-gray-100 {
  --tw-bg-opacity: 1;

  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.p15403-bg-gray-300 {
  --tw-bg-opacity: 1;

  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.p15403-bg-red-50 {
  --tw-bg-opacity: 1;

  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

.p15403-bg-yellow-100 {
  --tw-bg-opacity: 1;

  background-color: rgb(254 249 195 / var(--tw-bg-opacity));
}

.p15403-px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.p15403-px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.p15403-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p15403-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p15403-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p15403-text-center {
  text-align: center;
}

.p15403-indent-\[-1em\] {
  text-indent: -1em;
}

.p15403-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.p15403-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.p15403-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.p15403-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.p15403-font-bold {
  font-weight: 700;
}

.p15403-leading-normal {
  line-height: 1.5;
}

.p15403-leading-relaxed {
  line-height: 1.625;
}

.p15403-leading-snug {
  line-height: 1.375;
}

.p15403-leading-tight {
  line-height: 1.25;
}

.p15403-text-gray-700 {
  --tw-text-opacity: 1;

  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.p15403-text-red-500 {
  --tw-text-opacity: 1;

  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.p15403-text-white {
  --tw-text-opacity: 1;

  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (width >= 640px) {
  .pc\:p15403-mt-8 {
    margin-top: 2rem;
  }

  .pc\:p15403-inline {
    display: inline;
  }

  .pc\:p15403-hidden {
    display: none;
  }

  .pc\:p15403-px-8 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
