.p15403-c-table {
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  border-top: 1px solid #ccc;

  th,
  td {
    padding: 4px 8px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }

  th {
    text-align: right;
    background-color: #f6f6f6;
  }
}
