@use 'sass:math';
@import 'foundation/font-family';

.p00000 {
  box-sizing: border-box;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;

  @import 'foundation/base';
  @import 'layout/container';
  @import 'layout/typography';
  @import 'layout/visibility';
  @import 'blocks/accordion';
  @import 'blocks/allergy';
  @import 'blocks/banner';
  @import 'blocks/box';
  @import 'blocks/button';
  @import 'blocks/cta-x';
  @import 'blocks/heading';
  @import 'blocks/line-up';
  @import 'blocks/main';
  @import 'blocks/section';
  @import 'blocks/youtube';

  .bootstrap-v3-3-7--scope & a:focus {
    outline: unset;
    outline-offset: unset;
  }
}
