@use 'sass:math';
@import 'foundation/font-family';

.p00000 {
  box-sizing: border-box;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;

  @import 'object/component/accordion';
  @import 'object/component/allergy';
  @import 'object/component/banner';
  @import 'object/component/box';
  @import 'object/component/button';
  @import 'object/component/heading';
  @import 'object/component/youtube';
  @import 'foundation/base';
  @import 'layout/container';
  @import 'object/project/cta-x';
  @import 'object/project/line-up';
  @import 'object/project/main';
  @import 'object/project/project';
  @import 'object/utility/utility';

  &-title {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: #000;
    text-align: center;
    text-shadow: none;
    background: inherit;
  }
}

.bootstrap-v3-3-7--scope .p00000 a:focus {
  outline: unset;
  outline-offset: unset;
}
