// 非表示
.p00000-hidden {
  display: none;
}
// pcのみ表示
// pc:p00000-hidden
.pc\:p00000-hidden {
  @media (width >=640px) {
    display: none;
  }
}

.pc\:.p00000-inline {
  @media (width >=640px) {
    display: inline;
  }
}

.p00000-u-font-noto-serif-jp {
  font-family: 'Noto Serif JP', serif;
}

.p00000-u-font-m-plus-rounded-1c {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
