// Component: バナーブロック（リンク付き画像＋キャプション）
.p00000-c-banner {
  padding: 32px 16px;
  background-color: #f3f4f6;
}

.p00000-c-banner-item {
  display: block;
  width: 100%;
  max-width: 360px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;

  p {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #004098;
  }
}
