.p15403-p-cta {
  padding: 20px;
  background-color: #089924;
}

.p15403-p-cta-ttl {
  max-width: 90%;
  margin: 0 auto 20px;
  text-align: center;
}

@media (width >=640px) {
  .p15403-p-cta-ttl {
    max-width: 70%;
  }
}

.p15403-p-cta-inner {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

@media (width >=640px) {
  .p15403-p-cta-inner {
    padding: 40px;
  }
}

.p15403-p-cta-image {
  max-width: 100%;
  margin: 0 auto 20px;
  text-align: center;
}

@media (width >=640px) {
  .p15403-p-cta-image {
    max-width: 80%;
  }
}

.p15403-p-cta-subttl {
  max-width: 100%;
  margin: 0 auto 20px;
  text-align: center;
}

@media (width >=640px) {
  .p15403-p-cta-subttl {
    max-width: 80%;
  }
}

.p15403-p-cta-txt {
  margin: 0 auto 20px;
  text-align: left;
}

@media (width >=640px) {
  .p15403-p-cta-txt {
    text-align: center;
  }
}

.p15403-p-cta-lead {
  margin: 0 auto 20px;
  font-weight: bold;
  text-align: center;
}

.p15403-p-cta-bnr {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

@media (width >=640px) {
  .p15403-p-cta-bnr {
    max-width: 60%;
  }
}
