.p00000-p-line-up {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fff;
}

.p00000-p-line-up__item {
  &:nth-child(n + 2) {
    border-top: 2px dashed #666;
  }
}

.p00000-p-line-up__heading {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  @media (width >=640px) {
    font-size: 32px;
  }
}

.p00000-p-line-up__heading::before,
.p00000-p-line-up__heading::after {
  content: '-';
}

.p00000-p-line-up__heading::before {
  margin-right: 8px;
}

.p00000-p-line-up__heading::after {
  margin-left: 8px;
}

.p00000-p-line-up__card {
  padding: 32px 16px;
  margin: auto;

  @media (width >=640px) {
    max-width: unset;
    padding: 48px 32px;
  }
}

.p00000-p-line-up__card-heading {
  padding-bottom: 4px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  border-color: #333;
  border-style: solid;
  border-width: 0 0 2px;

  @media (width >=375px) {
    font-size: 24px;
  }

  @media (width >=640px) {
    font-size: 27px;
  }
}

.p00000-p-line-up__card-row {
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 32px;
  align-items: center;
  width: 100%;

  // margin-top: 16px;
  margin-right: auto;
  margin-left: auto;

  @media (width >=640px) {
    grid-template-rows: unset;

    // grid-template-columns: 240px auto;

    grid-template-columns: repeat(2, 1fr);

    // margin-top: 32px;
  }
}

.p00000-p-line-up__card-item {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.p00000-p-line-up__card-lead {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.75;
  text-align: center;

  @media (width >=640px) {
    font-size: 16px;
    text-align: left;
  }
}

.p00000-p-line-up__card-lead::before,
.p00000-p-line-up__card-lead::after {
  @media (width >=640px) {
    content: '～';
  }
}

.p00000-p-line-up__card-description {
  line-height: 1.75;

  @media (width >=640px) {
    font-size: 16px;
  }
}

.p00000-p-line-up__card-description-note {
  font-size: 12px;

  // text-align: left;
}

.p00000-p-line-up__card-detail {
  display: grid;
  width: fit-content;
  font-size: 13px;
  text-align: left;
  border-color: #666;
  border-style: dashed;
  border-width: 2px 0 0;

  @media (width >=640px) {
    // grid-template-columns: auto auto;
    font-size: 14px;
  }
  li {
    padding: 4px 0;
    border-color: #666;
    border-style: dashed;
    border-width: 0 0 2px;

    // &::after {
    //   content: '／';
    // }

    // &:last-child::after {
    //   content: '';
    // }
  }
}
